pkgbase = dynrsync
	pkgdesc = Small rsync wrapper.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.1.1.1
	pkgrel = 1
	url = https://github.com/themartiancompany/dynrsync
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = dynssh
	depends = rsync
	source = dynrsync-8f2fcc1a42347fdb4c12cc7a0f39c061b6473e9c.zip::https://github.com/themartiancompany/dynrsync/archive/8f2fcc1a42347fdb4c12cc7a0f39c061b6473e9c.zip
	validpgpkeys = 97E989E6CF1D2C7F7A41FF9F95684DBE23D6A3E9
	sha256sums = 48c7af62346bf62361a4380f6703c6e32d73101b7cb7748ff1eb52c3ca532425

pkgname = dynrsync
