pkgbase = dynrsync
	pkgdesc = Small rsync wrapper.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.1.1
	pkgrel = 1
	url = https://github.com/themartiancompany/dynrsync
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = dynssh
	depends = rsync
	source = dynrsync-f0b0710f8f18ea87620e160eb633a14cd6b6b841.zip::https://github.com/themartiancompany/dynrsync/archive/f0b0710f8f18ea87620e160eb633a14cd6b6b841.zip
	validpgpkeys = 97E989E6CF1D2C7F7A41FF9F95684DBE23D6A3E9
	sha256sums = 1add80eb50d5cdb0a26a6095473183440b2c994cac2bbf2a8bedb325ec1b69de

pkgname = dynrsync
